@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  letter-spacing: 1px;
}


body {
  font-size: 1.6rem;
  background-color: #131417;
  color: #fff;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Reuseable class */
.main-title {
  font-size: 4.8rem;
  position: relative;
}

.sub-title {
  font-size: 3.2rem;
}

.highlighted-text {
  color: #9095a1;
}


.section {
  margin-top: 10rem;
  width: 100%;
}

.bg-text {
  content: 'My Projects';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 6.3rem;
  opacity: 0.1;
  letter-spacing: 1px;
}

.card-container {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
}

.card {
  background-color: #202124;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
  font-size: 3.2rem;
}

.card-subtitle {
  font-size: 2.2rem;
}


/* Header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #191a1f ;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  max-width: 150rem;
  margin: 0 auto;
  height: 8rem;
}

.logo {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.list-link {
  font-size: 2.4rem;
}

.list-link:hover {
  color: #d1d6e7;
}

/* footer */
#footer {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: #191a1f ;
}

#footer-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#menu-container,
#social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-container {
  gap: 2rem;
}

#footer-nav-list {
  gap: 2rem;
  flex-direction: column;
}

#footer-nav-list li a{
  font-size: 2.2rem;
}

.icon {
  font-size: 3.6rem;
}

.footer-img {
  width: 70%;
}

@media only screen and (max-width: 1000px) {
  .navbar {
      height: initial;
  }

  .nav-list {
      flex-direction: column;
      gap: initial;
  }

  .list-link {
      font-size: 1.6rem;
  }

  .bg-text {
    font-size: 5.8rem;
  }
}